<div class='container'>
  <h3>Resultados da pesquisa de Kanjis</h3>
  <% @kanjis.each do |kanji| %>
  <h2><%= link_to(kanji.title,kanji) %></h2>
  <p> Sentido: <%= kanji.pt %></p>
  <ul>
    <li>On:  <%= kanji.onyomi %></li>
    <li>Kun: <%= kanji.kun %></li>
    <li>JLPT:  <%= kanji.jlpt.title %></li>
  </ul>
  <br>
  <hr>
  <% end %>
</div>