<div class='container'>
  <h3>Resultados da pesquisa de Kanjis</h3>
  <% @kanjis.each do |kanji| %>
  <h2><%= link_to(kanji.title,kanji) %></h2>
  <p> Radical: <%= kanji.radical %></p>
  <ul>
    <li>Nivel de uso:  <%= kanji.most_used %></li>
    <li>On:  <%= kanji.on %></li>
    <li>Kanji: <%= kanji.kun %></li>
    <li>JLPT:  <%= kanji.jlpt.title %></li>
  </ul>
  Exemplos: <%= kanji.eg %>
  <br>
  <hr>
  <% end %>
</div>