<div class='container'>
  <h3>Resultados da pesquisa</h3>
  <% @words.each do |word| %>
  <h2><%= link_to(word.romaji,word) %></h2>
  <p> Tradução: <%= word.pt %></p>
  <ul>
    <li>Tipo: <%= word.word_type.title %></li>
    <li>Kana: <%= word.kana %></li>
    <li>Kanji: <%= word.kanji %></li>
  </ul>
  Observações: <%= word.obs %>
  <br>
  <hr>
  <% end %>
</div>
