<!DOCTYPE html>
<html>
  <head>
    <title>Jishobr:Dicionario de Japones</title>
    <meta name="description" content="Jishobr - Seu Jisho em Portugues">
    <meta name="keywords" content=" dicionario, japones, portugues, japonês, português, jisho ">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/nav_bar' %>
    <%= render partial: 'shared/nav2' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
  <footer>
    <div class ="a">
      <a class="navbar-brand" href="https://github.com/mavmaso" target="_blank">Feito por mavmaso ver.09.23</a>
    </div>
  </footer>
</html>
